/* About */

.img-size {
    width: 80% !important;
    border-radius: 50px;
    margin: 30px;


    box-shadow: 8px 8px 8px -4px rgb(0 0 0 / 44%);
    -webkit-box-shadow: 8px 8px 8px -4px rgb(0 0 0 / 44%);
    -moz-box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.44);
}