.button {
    //border: solid $color-light-gray 2px;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: $color-dark-gray ;
    font-weight: 400;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 50px;
    margin-top: 10px;
    width: 200px;
    opacity: .9;
    margin: 5px;
    border: solid rgba(255, 255, 255, 0) 2px;


    &:hover {
        cursor: pointer;
        background-color: $color-dark-gray ;
        color: white;
        //border: $color-dark-gray solid 2px;
        text-decoration: none;
        opacity: 1;
        transform: scale(1.1);
    }


    body.dark & {
        border: solid $color-light-gray 2px;
    }
}