html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;


    body.dark & {
        color: whitesmoke !important;
    }

}

.hr-style {
    border: 1px solid rgb(165 165 165 / 20%);
    // background: rgba(0, 0, 0, 0.9);
    margin-top: 0rem;
    margin-bottom: 0rem;
    opacity: 1;

    body.dark & {
        border: 1px solid #2c2c2c;
        background: #2c2c2c;
    }

}